html{
  color:#fff;
  font-family:"GeoSans";
  background-repeat:no-repeat;
  cursor: url(../lib/img/icons/cursorWhite.png), auto;
 // cursor: vertical-text;

}

body{
  margin: 0px;
  overflow: hidden;
}

@font-face {
  font-family: "GeoSans";
  src: url("../lib/fonts/GeosansLight.ttf");
}
a{

  color: #fff;
  text-decoration: none;
  underline: none;

}

a:hover{

  text-decoration: underline;

}

.scroll{
  overflow:auto;
}

.fullHeight{
  height:100%;
}

.absolute{
  position:absolute;
}
#curtain{

  position      : absolute;
  z-index       : 999;
  top           : 0px;
  left          : 0px;
  width         : 100%;
  height        : 100%;
  background    : #000;

}

#failureDialog{

  z-index: 999;
  width:100%;
  height:100%;
  overflow:auto;
  position: absolute;
  background: #000;

 text-align:center;

}


#failureList{

  padding:0px;
  margin:0px;
  text-align: center;
  list-style:none;

  display:block-inline;
}



#loadBar{

  position      : absolute;
  top           : 50%;
  height        : 1px;
  width         : 0px;
  background    : #fff;

}

#loadingGif{

  position      : absolute;
  top           : 50%;
  left          : 50%;
  z-index       : -1;

}

#loadInfo{

  position      : absolute;
  top           : 50%;
  font-size     : 20px;

  height        : 50px;
  width         : 100%;
  margin-top    : 5px;
  text-align    : center;
  //background    : #fff;



}
#renderingContainer{

  position    : absolute;
  top         : 0px;
  left        : 0px;
  width       : 100%;
  height      : 100%;
  background  : #000;

}

#interface{

  position        : absolute;
  top             : 0px;
  left            : 0px;
  width           : 100%;
  height          : 100%;
  z-index         : 999;
  pointer-events  : none;

}


#info{

  position:absolute;
  top:0px;
  padding-left: 20px;

}

#title{

  pointer-events  : auto;

}

#summary{

  font-size:16px;

}


#social{

  pointer-events  : auto;

  position:absolute;
  right:0px;
  bottom:5px;

  width:100%;

}


.social{


  margin: 5px;
  width:25px;
  height:25px;
  display: block;

  opacity:.3;
  background-size: 100%;

  float:right;
}
.social:hover{

  opacity: .7;

}

#facebook{

  margin: 5px;
  width:25px;
  height:25px;
  display: block;

  opacity:.3;
  background: url("../lib/img/icons/facebook_1.png");
  background-size: 100%;

}

#facebook:hover{
  opacity:1;
}


#GUI{

  //position:absolute;
  right           : 0px;
  top             : 0px;
  pointer-events  : auto;

}



#stats{

  position:absolute;
  right:0px;
  bottom:0px;

}

